<form
  nz-form
  [formGroup]="signInForm"
  class="login-form"
  (ngSubmit)="onSubmit()"
>
  <h3>Sign in</h3>
  Sign in below to access your account
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your email!">
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="email"
          placeholder="Email Address"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group>
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="Password"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button
    nz-button
    class="login-form-button login-form-margin"
    nzType="primary"
  >
    Sign in
  </button>
  <div>
    Don't have an account yet?
    <a href="/signup">Sign up.</a>
  </div>
</form>
