<nz-layout class="layout">
  <nz-sider>
    <div class="logo">
      <a
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Home</a
      >
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a
          routerLink="/tasks"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Tasks</a
        >
      </li>
      <li nz-menu-item>
        <a
          routerLink="/users"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Users</a
        >
      </li>
      <li nz-menu-item>
        <a
          routerLink="/tags"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Tags</a
        >
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header>
      <nz-avatar
        nzSrc="https://avatar.iran.liara.run/username?username=Admin"
      ></nz-avatar>
      <button
        nz-button
        class="login-form-button login-form-margin"
        nzType="primary"
        (click)="signout()"
      >
        Logout
      </button></nz-header
    >
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Admin panel</nz-footer>
  </nz-layout>
</nz-layout>
